# Entorno Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Secretos
.env

# Artefactos de IA (gestionados por DVC)
*.pkl
*.joblib
*.h5
/data/

# DVC
.dvc/cache/
.dvc/tmp/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
