# Entorno Virtual Python
venv/
ENV/
env/
.env
*.env
*.venv

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Web (Next.js / Node)
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IA / Data
*.pkl
*.model
*.csv
*.xlsx
.dvc/
! .dvc/config
/data/

# Sistema y Otros
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.vscode/
.idea/
*.tmp
*.temp
