# Motor de Forecasting
skforecast==0.13.0
scikit-learn==1.5.2
xgboost==2.1.1
lightgbm==4.5.0

# Validación de Datos
pandera==0.20.4

# Manipulación de Datos
pandas==2.2.3
numpy==1.26.4

# Infraestructura
supabase==2.7.4
python-dotenv==1.0.1

# Versionamiento de Datos y Modelos
dvc[s3]==3.55.2
